.footer{
background:#111;
color:white;
margin-top:0px;
}

.footer-container{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
padding:40px;
max-width:1200px;
margin:auto;
}

.footer-logo{
max-width:400px;
}

.footer-links{
display:flex;
flex-direction:column;
}

.footer-links a{
color:white;
text-decoration:none;
margin:5px 0;
}

.footer-links a:hover{
color:#3b82f6;
}

.footer-contact p{
margin:5px 0;
}

.footer-bottom{
text-align:center;
padding:15px;
border-top:1px solid #333;
font-size:14px;
}